awsebcli
blessed
botocore
cement
colorama~=0.4.6
Django~=4.2.17
docker-py
dockerpty
docopt
docutils~=0.21.2
jmespath
pathspec
psycopg2
python-dateutil~=2.9.0.post0
PyYAML~=6.0.2
requests
semantic-version
six~=1.17.0
texttable
wcwidth
websocket-client
pip~=22.3.1
wheel~=0.38.4
setuptools~=65.5.1
