<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frequently Asked Questions</title>
</head>
<body>
<span style="color:green">How should I bid?</span>
<p>
    Look through the projects and find between 8 and 16 projects that match your skills, goals, dreams and ambitions.
    Order them in a preference order. Then allocate your 2000 points across these projects with more
    points for the projects higher up in the preference ordering and fewer points for the
    ones lower down.
</p>
<span style="color:green">How many bid points do I have?</span>
<p>
    Everyone has 2000 bid points. You may bid a max of 1000 on any one project. The minimum is 1 point if you are bidding on a project.
</p>
<span style="color:green">Can you explain what you'll do with the bids?</span>
<p>
    For each project, I'll sort the bids from highest to lowest and allocate students using that ordering
    until the project is full. If there are ties, I'll break them randomly.
</p>
<span style="color:green">Am I guaranteed one of my choices?</span>
<p>
    No. As an example, let's say you bid on exactly two projects, 1100 on project 1 and 900 on project 7.
    Let's also say that there are 4 slots for projects 1 and 7. If 5 students bid 1100 points for project 1,
    and I randomly choose 4 out of the 5, you may be the one left out. If 4 other students have bid more
    than 900 points on project 7, you won't get project 7 either. In other words, you'll be frozen out of
    the project pool. Now extend this thinking to the 8 project requirement and you could still be frozen out of the pool
</p>
<span style="color:green">So, what happens if I don't get any of my choices?</span>
<p>
    Not sure. I haven't figured this part out as yet. One possibility, I'll randomly assign you to an empty
    project slot. I have a couple of other back up ideas but need to think them through first.
</p>
<span style="color:green">How many students will be allocated to each project?</span>
<p>
    I'm expecting 4 students per project. Though this number may change.
</p>
<span style="color:green">The project I'm interest in says that we will work ong Tableau (insert other skill here). I have no experience with Tableau. Should I not bid on that project?</span>
<p>
    You should bid anyway. Think of what you want to learn from the experience and choose a project which will give you the opportunity to learn that. If you want to improve
    your web app skills, choose a project with a web apps component. If you're interested in pricing models, choose
    a project on pricing. If you're interested in advance ML and deep learning on time series data, choose one of those projects.
    Take classes in those skill areas as well but look at this as a learning experience.
</p>
<span style="color:green">Will this work?</span>
<p>
    Yes, of course. Ye of little faith!
</p>
</body>
</html>
